@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap");

#root {
  width: 100vw;
  min-height: 100vh;
}

* {
  font-family: "Mada", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 3rem;
}

button {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}
