@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Mada", sans-serif;
}

body {
  background-color: #fbb6b5;
}

p,
h2,
h3,
h1 {
  color: white;
}

p {
  background-color: white;
  color: black;
}

h2 {
  font-size: 4rem;
}

button {
  background-color: #fbb5d7;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}
